.row{
    margin-top: 7em;
}
ul{
  
    padding: 0;
    width: 1400px;
    margin: 20px auto;

}

li{
    display: inline;
}
.tn{
    margin: 6px;
    border:4px solid #eee;
    box-shadow: #555 1px 1px 8px 1px;
}
.btn{
    padding-left: 3em;
}