<div class="ui fixed inverted menu ">
  <div class="header item"> 
    <a routerLink="/" class="item"> <i class="spinner icon"></i>Beatles Blog</a>
  </div>
  <a routerLink="/blog" class="item">New Post</a>
  <a routerLink="/albums" class="item"> Albums</a>
  <a routerLink="/members" class="item"> Beatles Members</a>
  <a routerLink="/media" class="item"> Beatles Media</a>
  <a routerLink="/gallerybeatles" class="item"> Gallery</a>
  <a routerLink="/media" class="item"> Beatles Media</a>
</div>
