<div style="margin-top:7em" class="ui main text container segment">
  <div class="ui huge header">
    {{ member.title }}
  </div>
  <div class="ui top attached sement">
    <h4>
      {{ member.dateOfBirth }}
    </h4>
    <img class="ui medium image" src="{{member.image}}" />
    <div class="item" class="ui centered rounded image">
      <div class="content"><br>
        <h4>
          {{ member.role }}
        </h4>
      </div>
      <div class="description">
        <p>
          {{ member.description }}
        </p>

      </div>

    </div>
  </div>
</div>