

<div class="ui main text container">
  <div style="margin-top: 5em" class="ui huge header">
    THE BEATLES MEMBERS <br>
      <div class="ui top attached segment">
        <div class="ui divided items">
          <div *ngFor="let member of members" class="item">
                <div class="image">
                <img class="ui medium rounded image" src="{{member.image}}" />
              </div> 
          <div class="content">
          <a style="margin-left: 2em;" class="header" routerLink="/member/{{member._id}}">
            {{ member.title }} <p>Year of Birth {{member.dateOfBirth}}</p></a>
           
          
        </div>
      </div>
  </div>
</div>

